<div class="ui-g card-margin">
  <div class="ui-g-12 ui-sm-12 ui-md-8 ui-lg-6 ui-xl-6 ui-g-nopad  ui-md-offset-2 ui-lg-offset-3 ui-xl-offset-3 ">
    <p-card [style]="{'background-color': '#003c8f', 'color': 'white'}">
      <div class="ui-g">
        <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12 ui-xl-12 ui-g-nopad historic">
          <span>Histórico de partidas</span>
        </div>
      </div>
    </p-card>
  </div>
</div>

<div class="ui-g">
  <div class="ui-g-12 ui-sm-12 ui-md-8 ui-lg-6 ui-xl-6 ui-g-nopad  ui-md-offset-2 ui-lg-offset-3 ui-xl-offset-3">
    <p-card>

      <div class="ui-g item-historic" *ngFor="let matchItem of (matchList$ | async)">
        <div class="ui-g-2 ui-sm-2 ui-md-2 ui-lg-1 ui-xl-1 ui-g-nopad">
          <div class="champion-image" [ngStyle]="{ 'background-image': 'url(' + matchItem.championImageURL +')'}"></div>
        </div>
        <div class="ui-g-5 ui-sm-5 ui-md-5 ui-lg-7 ui-xl-7 ui-g-nopad">
          <p class="champion-name">{{matchItem.championName}}</p>
        </div>
        <div class="ui-g-5 ui-sm-5 ui-md-5 ui-lg-4 ui-xl-4 ui-g-nopad">
          <p class="timestemp">{{matchItem.timestamp | date}}</p>
        </div>
      </div>

    </p-card>
  </div>
</div>