<div class="ui-g margin-bottom-topbar">
  <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12 ui-xl-12 ui-g-nopad topbar">

    <div class="ui-g">
      <div class="ui-g-12 ui-sm-10 ui-md-4 ui-lg-4 ui-xl-4      ui-sm-offset-1 ui-md-offset-4 ui-lg-offset-4 ui-xl-offset-4">

        <input #inputSearch type="text" class="full-width" pInputText placeholder="Buscar invocador" (keyup)="search($event, inputSearch.value)">

      </div>
    </div>

  </div>
</div>

<router-outlet name="top"></router-outlet>

<router-outlet name="bottom"></router-outlet>

<div class="ui-g margin-bottom-topbar">
  <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12 ui-xl-12 ui-g-nopad loading">

    <p-progressSpinner [hidden]="!(loadingSummoner$ | async) && !(loadginMatchList$ | async)"></p-progressSpinner>

  </div>
</div>