.profile-icon{
  background-color: black;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  border: 2px solid #ccc;
}

.summoner-level{
  background-color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: relative;
  top: 50px;
  left: 50px;
  line-height: 28px;
  text-align: center;
  border: 2px solid #ccc;
}

.summoner-name{
  font-size: 28pt;
  line-height: 80px;
}

.card-height{
  height: 400px;
}

.flex{
  background-color: #ccc;
  height: 80px;
}

.solo{
  background-color: #ccc;
  height: 80px;
}

.tt{
  background-color: #ccc;
  height: 80px;
}