<div class="ui-g">
  <div class="ui-g-12 ui-sm-12 ui-md-8 ui-lg-6 ui-xl-6 ui-g-nopad  ui-md-offset-2 ui-lg-offset-3 ui-xl-offset-3">

    <p-card>
      <div class="ui-g card-height" [ngStyle]="{ 'background-image': 'url(' + (summoner$ | async)?.splashURL +')'}">
        <div class="ui-g-12 ui-sm-4 ui-md-2 ui-lg-2 ui-xl-2 ui-g-nopad">
          <div class="profile-icon" [ngStyle]="{ 'background-image': 'url(' + (summoner$ | async)?.profileIconURL +')'}">

            <div class="summoner-level">
              <span>{{(summoner$ | async)?.summonerLevel}}</span>
            </div>
          </div>
        </div>

        <div class="ui-g-12 ui-sm-8 ui-md-10 ui-lg-10 ui-xl-10 ui-g-nopad">
          <span class="summoner-name">{{(summoner$ | async)?.name}}</span>
        </div>
      </div>
    </p-card>

  </div>
</div>

<div class="ui-g">
  <div class="ui-g-12 ui-sm-12 ui-md-8 ui-lg-6 ui-xl-6 ui-g-nopad  ui-md-offset-2 ui-lg-offset-3 ui-xl-offset-3">

    <div class="ui-g">
      <div *ngFor="let leaguePosition of (summoner$ | async)?.leaguePositions" class="ui-g-12 ui-sm-12 ui-md-4 ui-lg-4 ui-xl-4">
        <p-card>
          <p>Fila: {{leaguePosition.queueType}}</p>
          <p>Elo: {{leaguePosition.tier}} - {{leaguePosition.rank}} </p>
          <p>Liga: {{leaguePosition.leagueName}}</p>
          <p>V/D: {{leaguePosition.wins}}/{{leaguePosition.losses}}</p>
          <p>PDL: {{leaguePosition.leaguePoints}}</p>
        </p-card>
      </div>
    </div>

  </div>
</div>