.profile-icon{
  background-color: #003c8f;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  border: 2px solid #ccc;
  margin: 0 auto;
  margin-top: 16px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.summoner-level{
  background-color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: relative;
  top: 50px;
  left: 50px;
  line-height: 28px;
  text-align: center;
  border: 2px solid #ccc;
}

.summoner-name{
  font-size: 5vmin;
  line-height: 112px;
  background-color: rgba(0,0,0, 0.6);
  color: white;
  border-radius: 30% 5% 30% 5%;
  padding: 0px 12px 0px 12px;
}

.card-height{
  height: 400px;
  background-color: black;
  background-position: top;
  background-repeat: no-repeat;
  background-size:100% auto  ;
}

.league-position-container{
  padding: 4px;
}

.league-position-cell{
  background-color: white;
  border-radius: 5px;
  padding: 12px;
}

@media only screen and (max-width: 640px) {
  .card-height {
    height: 200px;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 641px){
  .card-height {
    height: 280px;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 1025px) {
  .card-height {
    height: 300px;
  }
}